MACHINE LEARNING BASED VEHICLE PERFORMANCE ANALYZER

DATA PREPROCESSING

1. LIB FILES

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

2. DATASET LOADING

In [35]:
dat=pd.read_csv('./car_performance.csv')

3. PRIMARY ANALYSIS

In [4]:
dat.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [6]:
dat.shape

(398, 9)

In [8]:
dat.columns

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin', 'car name'],
      dtype='object')

In [12]:
dat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    int64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(5), object(1)
memory usage: 28.1+ KB

In [13]:
dat.nunique()

mpg             129
cylinders         5
displacement     82
horsepower       93
weight          351
acceleration     95
model year       13
origin            3
car name        305
dtype: int64

In [14]:
dat.origin.unique()

array([1, 3, 2], dtype=int64)

4. HANDILING NULL VALUES

In [15]:
dat.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

5. DROPING COLUMN - CAR_NAMES

In [18]:
dat=dat.iloc[:,:-1]
dat.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration  model year
0  18.0          8         307.0         130    3504          12.0          70
1  15.0          8         350.0         165    3693          11.5          70
2  18.0          8         318.0         150    3436          11.0          70
3  16.0          8         304.0         150    3433          12.0          70
4  17.0          8         302.0         140    3449          10.5          70

6. SPLITTING DATASET TO DEPENDENT AND INDEPENDENT VARIABLES

In [23]:
x=dat.iloc[:,1:]
y=dat.iloc[:,0]

In [24]:
x.head()

   cylinders  displacement  horsepower  weight  acceleration  model year
0          8         307.0         130    3504          12.0          70
1          8         350.0         165    3693          11.5          70
2          8         318.0         150    3436          11.0          70
3          8         304.0         150    3433          12.0          70
4          8         302.0         140    3449          10.5          70

In [25]:
y.head()

0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
Name: mpg, dtype: float64

7. TRAINING AND TESTING

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [27]:
x_train.shape

(318, 6)

In [28]:
x_test.shape

(80, 6)

In [29]:
y_train.shape

(318,)

In [30]:
y_test.shape

(80,)

8. NORMALIZING VALUES

In [31]:
from sklearn.preprocessing import StandardScaler
sd = StandardScaler()
x_train=sd.fit_transform(x_train)
x_test=sd.fit_transform(x_test)

In [32]:
x_train

array([[ 0.33833667,  0.39501758, -0.08957707,  0.39100127, -0.03507182,
        -1.40047065],
       [ 1.52718818,  1.0823806 ,  0.71737786,  1.09542699, -0.21380323,
        -0.03268912],
       [-0.85051483, -0.85205532, -0.78893802, -1.19214108, -0.10656439,
         1.60864872],
       ...,
       [ 1.52718818,  2.58475976,  3.27273516,  2.4038191 , -1.64365451,
        -0.85335804],
       [-0.85051483, -0.50837381, -0.84273501, -0.68258227,  1.39477945,
        -0.85335804],
       [ 1.52718818,  1.55371524,  1.25534782,  2.09881002, -0.39253464,
        -0.57980173]])

In [33]:
x_test

array([[-8.80696034e-01, -1.05702951e+00, -1.12834643e+00,
        -1.34056681e+00,  2.53249459e-01,  1.42495121e+00],
       [-8.80696034e-01, -6.92842872e-01, -4.63040822e-01,
        -5.35470587e-01, -1.35617273e-01,  1.16228740e+00],
       [ 2.55685945e-01, -8.88260092e-03, -4.15518993e-01,
        -3.74451342e-01, -1.74503946e-01, -1.46435079e+00],
       [ 2.55685945e-01,  0.00000000e+00, -5.34323566e-01,
        -4.40817382e-01,  2.14362786e-01, -1.46435079e+00],
       [-8.80696034e-01, -8.43847087e-01, -1.05706369e+00,
        -9.43458539e-01, -2.91163965e-01,  1.68761503e+00],
       [-8.80696034e-01, -4.35247445e-01, -4.15518993e-01,
        -2.79798137e-01,  9.92096249e-01,  1.68761503e+00],
       [ 1.39206792e+00,  2.03411561e+00,  2.38826892e+00,
         1.78516488e+00, -1.72997087e+00, -9.39023151e-01],
       [ 2.55685945e-01,  2.75360628e-01,  5.96992978e-02,
         9.95300208e-01,  2.15869644e+00, -1.51031696e-01],
       [-8.80696034e-01, -9.68203500e-01, -9.14498199e-01,
        -9.38018699e-01, -2.91163965e-01,  8.99623578e-01],
       [ 1.39206792e+00,  9.50438298e-01,  5.34917589e-01,
         1.20310207e+00, -5.63370677e-01, -9.39023151e-01],
       [ 1.39206792e+00,  2.26506323e+00,  2.79220447e+00,
         1.55886756e+00, -2.11883760e+00, -1.46435079e+00],
       [-8.80696034e-01, -9.68203500e-01, -1.29467283e+00,
        -1.30248794e+00,  7.97662883e-01, -1.51031696e-01],
       [-8.80696034e-01, -7.81668881e-01, -4.63040822e-01,
        -4.21233960e-01,  1.61428302e+00,  1.68761503e+00],
       [ 2.55685945e-01,  2.75360628e-01,  1.36654960e+00,
         4.92659051e-01, -7.96690716e-01,  6.36959760e-01],
       [-8.80696034e-01, -9.23790495e-01, -9.14498199e-01,
        -8.73828595e-01,  9.92096249e-01, -9.39023151e-01],
       [-8.80696034e-01, -7.81668881e-01, -4.63040822e-01,
        -3.83155085e-01,  1.22541629e+00,  1.68761503e+00],
       [ 2.55685945e-01, -1.68769417e-01,  5.96992978e-02,
        -5.13248843e-02,  3.69909478e-01,  1.68761503e+00],
       [ 1.39206792e+00,  9.23790495e-01,  1.01013588e+00,
         7.39627758e-01, -1.53553751e+00, -9.39023151e-01],
       [ 1.39206792e+00,  1.33239014e+00,  8.91331307e-01,
         1.57518708e+00, -5.63370677e-01, -1.51031696e-01],
       [-8.80696034e-01, -9.06025294e-01, -5.81845395e-01,
        -8.41189559e-01,  4.08796152e-01, -4.13695514e-01],
       [-8.80696034e-01, -9.14907894e-01, -7.00649968e-01,
        -8.72740627e-01, -5.24484004e-01,  3.74295941e-01],
       [ 1.39206792e+00,  1.62551597e+00,  1.48535417e+00,
         6.21039260e-01, -2.11883760e+00, -1.46435079e+00],
       [-8.80696034e-01, -9.68203500e-01, -9.38259113e-01,
        -1.11209356e+00,  8.36549556e-01,  1.68761503e+00],
       [-8.80696034e-01, -6.92842872e-01, -5.10562651e-01,
        -8.33573784e-01,  4.08796152e-01, -9.39023151e-01],
       [-8.80696034e-01, -8.52729688e-01, -2.96714420e-01,
        -6.71466571e-01,  7.97662883e-01, -1.46435079e+00],
       [-8.80696034e-01, -1.02149911e+00, -1.31843375e+00,
        -1.04137565e+00,  2.62533652e+00,  1.11632123e-01],
       [-8.80696034e-01, -5.86251661e-01, -2.96714420e-01,
        -4.70192515e-01, -4.85597331e-01,  6.36959760e-01],
       [-8.80696034e-01, -4.35247445e-01, -4.63040822e-01,
        -2.74358298e-01,  2.14362786e-01,  3.74295941e-01],
       [-8.80696034e-01, -9.85968702e-01, -1.08082460e+00,
        -1.02505613e+00,  7.19889537e-01,  1.42495121e+00],
       [ 1.39206792e+00,  1.77652018e+00,  1.60415874e+00,
         2.33676459e+00, -1.34110414e+00, -1.20168697e+00],
       [-8.80696034e-01, -1.08367731e+00, -1.31843375e+00,
        -1.09577404e+00,  1.53650967e+00,  6.36959760e-01],
       [ 1.39206792e+00,  1.77652018e+00,  1.41407143e+00,
         2.08218011e+00, -1.14667077e+00, -6.76359332e-01],
       [-8.80696034e-01, -9.14907894e-01, -4.63040822e-01,
        -9.70657735e-01,  4.08796152e-01, -9.39023151e-01],
       [-8.80696034e-01, -5.32956055e-01, -8.43215455e-01,
        -6.35563631e-01,  1.38096298e+00, -1.20168697e+00],
       [ 1.39206792e+00,  1.04814691e+00,  1.01013588e+00,
         4.82867340e-01, -1.72997087e+00, -1.46435079e+00],
       [ 1.39206792e+00,  1.77652018e+00,  1.96057246e+00,
         1.55560366e+00, -1.14667077e+00, -9.39023151e-01],
       [-8.80696034e-01, -9.14907894e-01, -3.67997164e-01,
        -7.66119776e-01,  6.03229517e-01, -9.39023151e-01],
       [ 1.39206792e+00,  1.77652018e+00,  1.72296332e+00,
         1.33583415e+00, -1.69108420e+00,  3.74295941e-01],
       [-8.80696034e-01, -9.77086101e-01, -8.90737284e-01,
        -1.14799650e+00, -4.85597331e-01,  1.11632123e-01],
       [-8.80696034e-01, -6.92842872e-01, -5.34323566e-01,
        -7.42184482e-01,  1.18652961e+00, -6.76359332e-01],
       [-8.80696034e-01, -9.68203500e-01, -1.12834643e+00,
        -1.29704810e+00,  3.69909478e-01,  6.36959760e-01],
       [ 2.55685945e-01,  4.44130046e-01, -1.77909848e-01,
         3.15320288e-01, -1.74503946e-01, -1.20168697e+00],
       [-8.80696034e-01, -7.10608073e-01, -7.71932711e-01,
        -4.89775936e-01,  7.97662883e-01,  1.16228740e+00],
       [-8.80696034e-01, -1.07479471e+00, -9.62020028e-01,
        -1.11970933e+00,  1.99294200e-02, -4.13695514e-01],
       [ 2.55685945e-01,  4.44130046e-01, -2.25431677e-01,
         5.79696481e-01,  1.38096298e+00,  3.74295941e-01],
       [ 1.39206792e+00,  1.33239014e+00,  1.24774503e+00,
         1.59259457e+00, -7.57804043e-01, -9.39023151e-01],
       [ 1.39206792e+00,  9.06025294e-01,  5.11156674e-01,
         1.92379919e-01, -1.34110414e+00, -1.51031696e-01],
       [-8.80696034e-01, -1.07479471e+00, -9.62020028e-01,
        -1.07945452e+00,  2.14362786e-01, -4.13695514e-01],
       [-8.80696034e-01, -9.14907894e-01, -7.71932711e-01,
        -9.10819502e-01,  3.69909478e-01,  1.11632123e-01],
       [ 1.39206792e+00,  1.33239014e+00,  1.72296332e+00,
         7.30924015e-01, -1.72997087e+00, -6.76359332e-01],
       [-8.80696034e-01, -9.06025294e-01, -9.38259113e-01,
        -1.03049597e+00,  1.18652961e+00,  3.74295941e-01],
       [ 2.55685945e-01,  2.22065023e-01, -1.77909848e-01,
         6.93933107e-01,  8.75436230e-01,  3.74295941e-01],
       [ 2.55685945e-01,  2.75360628e-01,  5.96992978e-02,
         4.60020015e-01,  1.36589439e-01,  1.42495121e+00],
       [ 1.39206792e+00,  1.34127274e+00,  9.86374965e-01,
         1.46095046e+00, -3.68937312e-01,  3.74295941e-01],
       [-8.80696034e-01, -5.32956055e-01, -7.00649968e-01,
        -4.35377543e-01,  1.18652961e+00, -1.51031696e-01],
       [ 1.39206792e+00,  9.23790495e-01,  2.97308443e-01,
         1.05513844e+00, -6.02257351e-01,  1.11632123e-01],
       [ 1.39206792e+00,  1.34127274e+00,  1.08141862e+00,
         1.23682908e+00, -9.52237409e-01, -9.39023151e-01],
       [-8.80696034e-01, -7.90551482e-01, -6.53128139e-01,
        -9.10819502e-01, -2.52277292e-01,  3.74295941e-01],
       [-8.80696034e-01, -7.19490674e-01, -2.49192591e-01,
        -7.53064161e-01, -2.91163965e-01,  6.36959760e-01],
       [ 2.55685945e-01,  2.84243229e-01,  1.07221127e-01,
        -1.71001350e-01, -2.91163965e-01,  1.68761503e+00],
       [ 2.55685945e-01,  0.00000000e+00, -5.34323566e-01,
        -2.36633012e-03,  1.06986960e+00,  8.99623578e-01],
       [ 1.39206792e+00,  2.03411561e+00,  2.15065978e+00,
         2.13222663e+00, -1.53553751e+00, -6.76359332e-01],
       [ 2.55685945e-01, -3.28656234e-01,  6.06200332e-01,
         4.54580176e-01,  1.36589439e-01,  6.36959760e-01],
       [-8.80696034e-01, -4.35247445e-01, -4.15518993e-01,
        -4.58850450e-02,  7.19889537e-01,  1.68761503e+00],
       [-8.80696034e-01, -9.14907894e-01, -1.12834643e+00,
        -1.26005719e+00,  1.38096298e+00, -1.20168697e+00],
       [-8.80696034e-01, -6.92842872e-01, -5.10562651e-01,
        -6.49707213e-01,  2.14362786e-01, -9.39023151e-01],
       [-8.80696034e-01, -7.55021078e-01, -2.96714420e-01,
        -3.24404820e-01, -1.74503946e-01, -1.51031696e-01],
       [ 2.55685945e-01, -2.84243229e-01,  2.02264785e-01,
        -1.00283439e-01, -1.10778410e+00,  1.42495121e+00],
       [-8.80696034e-01, -7.01725472e-01,  5.96992978e-02,
        -3.61395728e-01, -5.63370677e-01, -6.76359332e-01],
       [ 1.39206792e+00,  9.23790495e-01,  1.01013588e+00,
         4.79603437e-01, -1.34110414e+00, -1.46435079e+00],
       [-8.80696034e-01, -9.77086101e-01, -7.71932711e-01,
        -9.43458539e-01, -3.68937312e-01, -4.13695514e-01],
       [ 2.55685945e-01,  2.84243229e-01, -4.15518993e-01,
         2.36986602e-01,  6.81002864e-01,  6.36959760e-01],
       [ 1.39206792e+00,  1.33239014e+00, -5.91052749e-02,
         7.97290055e-01,  1.38096298e+00,  1.42495121e+00],
       [ 1.39206792e+00,  1.33239014e+00,  1.12894045e+00,
         1.48814965e+00, -2.13390619e-01,  8.99623578e-01],
       [ 1.39206792e+00,  9.50438298e-01,  2.19818161e+00,
         1.50555714e+00, -1.74503946e-01, -1.46435079e+00],
       [ 1.39206792e+00,  9.06025294e-01,  7.01243991e-01,
         1.14217587e+00, -3.68937312e-01, -6.76359332e-01],
       [-8.80696034e-01, -9.14907894e-01, -7.71932711e-01,
        -8.93412017e-01,  2.14362786e-01, -1.51031696e-01],
       [ 1.39206792e+00,  9.06025294e-01,  7.72526734e-01,
         1.41634377e+00,  2.14362786e-01, -9.39023151e-01],
       [-8.80696034e-01, -5.32956055e-01, -8.43215455e-01,
        -4.64752675e-01, -7.18917370e-01,  1.11632123e-01],
       [-8.80696034e-01, -1.01261650e+00, -1.00954186e+00,
        -1.10665372e+00, -9.67305995e-02,  8.99623578e-01]])